.asset-list-sub-title {
  text-align: left;
  margin-left: 30px;
}

.asset-list-title {
  text-align: left;
  margin-left: 30px;
}

.filter-search-container {
  display: flex;
  margin: 20px 30px 0px 30px;
}